/* :root {
  --primary1: #e8e3ff;
  --secondary1: #af7eeb;
  --scroll1: #af7eeb80;
  --secondaryDark1: #9860db;

  --primary2: #e3ffef;
  --secondary2: #70ec8f;
  --scroll2: #7eebab80;
  --secondaryDark2: #60db85;

  --primary3: #b6b6b6;
  --secondary3: #555555;
  --scroll3: #27242780;
  --secondaryDark3: #494949;

  --primary4: #ffe3e9;
  --secondary4: #eb7e96;
  --scroll4: #eb7e9680;
  --secondaryDark4: #db607f;

  --primary5: #e3ecff;
  --secondary5: #7e89eb;
  --scroll5: #7e92eb80;
  --secondaryDark5: #6072db;
} */

.primary1 {
  background: #e8e3ff;
}
.secondary1 {
  background: #af7eeb;
}
.scroll1 {
  background: #af7eeb80;
}
.secondaryDark1 {
  background: #9860db;
}

/* styles for particle js */

#particles-js {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
  font-family: "ubuntu", sans-serif;
  height: 100vh;
  box-sizing: border-box;
}

section {
  overflow: hidden;
  height: 100vh;
  /* background: #ffffffcc; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
.theme-changer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 7px;
  width: 5vw;
  border-radius: 15px;
  padding: 0.6rem 0.5rem;
  padding-left: 0.4vw;
  z-index: 1;
  position: static;
  transform: translate(79.75vw, -35vh);
}
.color {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
.red {
  background: #eb7e96;
}
.blue {
  background: #7e89eb;
}
.purple {
  background: #af7eeb;
}
.green {
  background: #70ec8f;
}
.black {
  background: #555555;
}
.container {
  padding: 3rem 5rem;
  width: 50%;
  height: 65%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  left: -5%;
}
.box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
header {
  border-radius: 10px;
  width: 20rem;
  padding: 1rem 2rem;
  margin-bottom: 50px;
  text-align: center;
  color: white;
}
.list {
  border-radius: 10px;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100%;
  background: white;
}
/* width */
.list::-webkit-scrollbar {
  display: none;
}
/* Track */
/* ::-webkit-scrollbar-track {
  background: #00000032;
} */

/* Handle */
/* .list::-webkit-scrollbar-thumb {
  box-shadow: inset 0 5px 20px 0 rgba(0, 0, 0, 0.527);
  background: rgba(75, 75, 75, 0.226);
  border-radius: 5px;
} */
ul {
  list-style-type: none;
}
li {
  border-radius: 10px;
  padding: 1rem 1rem;
  margin: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
li span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
li:hover {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
}
li input {
  width: 20px;
  height: 20px;
}
.fa-minus-square:hover {
  cursor: pointer;
}
.opt {
  transform: translate(0, 120%);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.opt:hover {
  cursor: pointer;
}
.opt > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
}
.fa-trash-alt::after {
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  content: "Delete All Todos";
  position: absolute;
  top: -2.5rem;
  font-family: "ubuntu", sans-serif;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.753);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  text-align: center;
  visibility: hidden;
  font-weight: 300;
}
.fa-trash-alt:hover::after {
  visibility: visible;
}

.fa-minus::after {
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  content: "Delete All completed Todos";
  position: absolute;
  top: -2.5rem;
  font-family: "ubuntu", sans-serif;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.753);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  text-align: center;
  visibility: hidden;
  font-weight: 300;
}
.fa-minus:hover::after {
  visibility: visible;
}

.fa-plus::after {
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  content: "Add New Todo";
  position: absolute;
  top: -2.5rem;
  font-family: "ubuntu", sans-serif;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.753);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  text-align: center;
  visibility: hidden;
  font-weight: 300;
}
.fa-plus:hover::after {
  visibility: visible;
}

.fa-trash-alt:hover,
.fa-minus:hover {
  transform: scale(1.1);
}
.fa-plus {
  transform: translate(0, -15%);
  font-size: 2rem;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

#input {
  z-index: 10;
  position: sticky;
  display: none;
  width: 90%;
  padding: 1rem 1rem;
  margin: 6px;
  margin-top: 10px;
  font-size: 1rem;
  letter-spacing: 0.75px;
  text-align: center;
  outline: none;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 2px 15px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.TodoTransi {
  opacity: 1;
}
ul li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 3);
}
/* MEDIA QUEIRES */
@media (max-width: 768px) {
  .opt > * {
    width: 50px;
    height: 50px;
  }
  .fa-plus {
    transform: translate(0, 0);
    font-size: 100%;
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 1550px) {
  .theme-changer {
    padding-left: 1vw;
    width: 60px;
    transform: translate(79.75vw, -35vh);
  }
}
@media (max-width: 1230px) {
  .theme-changer {
    padding-left: 1vw;
    width: 60px;
    transform: translate(80.85vw, -35vh);
  }
}
@media (max-width: 1050px) {
  .theme-changer {
    padding-left: 1vw;
    width: 60px;
    transform: translate(82.5vw, -35vh);
  }
}
@media (max-width: 850px) {
  .theme-changer {
    padding-left: 1vw;
    width: 60px;
    transform: translate(84.5vw, -35vh);
  }
}
@media (max-width: 600px) {
  body {
    font-size: 0.85rem;
  }
  header {
    width: 12rem;
  }
  .theme-changer {
    flex-direction: row;
    width: 200px;
    transform: translate(70vw, -45vh);
    border-radius: 7px;
  }
  .container {
    left: -18.5%;
  }
}
@media (max-width: 550px) {
  .container {
    left: -19.5%;
  }
  section {
    background: #ffffff;
  }
}
@media (max-width: 460px) {
  .color {
    width: 20px;
    height: 20px;
  }
  .theme-changer {
    transform: translate(75vw, -45vh);
  }
}
@media (max-width: 400px) {
  .container {
    width: 100%;
    left: -27vw;
  }
  .theme-changer {
    padding-left: 0.75rem;
    padding-right: 3rem;
    transform: translate(88vw, -45vh);
  }
}
