:root {
  /* --primary1: #e8e3ff;
  --secondary1: #af7eeb;
  --scroll1: #af7eeb80;
  --secondaryDark1: #9860db; */

  --primary2: #e3ffef;
  --secondary2: #70ec8f;
  --scroll2: #7eebab80;
  --secondaryDark2: #60db85;

  --primary3: #b6b6b6;
  --secondary3: #555555;
  --scroll3: #27242780;
  --secondaryDark3: #494949;

  --primary4: #ffe3e9;
  --secondary4: #eb7e96;
  --scroll4: #eb7e9680;
  --secondaryDark4: #db607f;

  --primary5: #e3ecff;
  --secondary5: #7e89eb;
  --scroll5: #7e92eb80;
  --secondaryDark5: #6072db;
}

.primary {
  background: #e8e3ff;
}
.secondary {
  background: #af7eeb;
}
.scroll {
  background: #af7eeb80;
}
.secondaryDark {
  background: #9860db;
}

* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
  font-family: "ubuntu", sans-serif;
  height: 100vh;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background: #ffffffcc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-changer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 7px;
  width: 35px;
  border-radius: 15px;
  padding: 0.6rem 0.5rem;
  z-index: 1;
  position: static;
  transform: translate(78.5vw, -38vh);
}
.color {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
.red {
  background: var(--secondary4);
}
.blue {
  background: var(--secondary5);
}
/* .purple {
  background: var(--secondary1);
} */
.green {
  background: var(--secondary2);
}
.black {
  background: var(--secondary3);
}
.container {
  padding: 3rem 5rem;
  width: 50%;
  height: 65%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
header {
  width: 20rem;
  padding: 1rem 2rem;
  margin-bottom: 50px;
  text-align: center;
  color: white;
}
.list {
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100%;
  background: white;
}
/* width */
.list::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #00000032;
}

/* Handle */
.list::-webkit-scrollbar-thumb {
  box-shadow: inset 0 5px 20px 0 rgba(0, 0, 0, 0.527);
  background: rgba(75, 75, 75, 0.226);
  border-radius: 5px;
}
ul {
  list-style-type: none;
}
li {
  border-radius: 10px;
  padding: 1rem 1rem;
  margin: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
li span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
li:hover {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
}
li input {
  width: 20px;
  height: 20px;
}
.fa-minus-square:hover {
  cursor: pointer;
}
.opt {
  transform: translate(0, 120%);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.opt:hover {
  cursor: pointer;
}
.opt > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
}
.fa-trash-alt:hover,
.fa-minus:hover {
  transform: scale(1.1);
}
.fa-plus {
  transform: translate(0, -15%);
  font-size: 2rem;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

#input {
  display: none;
  width: 87.5%;
  padding: 1rem 1rem;
  margin: 6px;
  margin-top: 10px;
  font-size: 1rem;
  letter-spacing: 0.75px;
  text-align: center;
  outline: none;
  border: 2px solid var(--scroll1);
  border-radius: 15px;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 5px 15px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.TodoTransi {
  opacity: 1;
}
ul li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 3);
}
/* MEDIA QUEIRES */
@media (max-width: 768px) {
  .opt > * {
    width: 50px;
    height: 50px;
  }
  .fa-plus {
    transform: translate(0, 0);
    font-size: 100%;
    width: 60px;
    height: 60px;
  }
} ;
